.slideout {
    position: absolute;
    z-index: 101;
    height: 100%;
    .slideout-inner {
      position: fixed;
      left: 0;
      bottom: 0;
      height: 100%;
      padding-top: 85px;
    }
}


.chat-directory {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  overflow-y: auto;
  overflow-x: auto;
  height: 100%;
  width: 205px;
  min-width: 165px;
  background: $white;
  border-right: 2px solid $border;
  border-bottom: 2px solid $border;
  .rooms-header {
    text-align: center;
    color: $marine;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .chat-search-container {
    form {
      .chatroom-search {
        z-index: 102;
        position: absolute;
        left: 0;
        color: $pink-oink;
        margin: 10px 0 0 10px;
      }
    }
    .twitter-typeahead {
      width: 100%;
      input {
        width: 100%;
        padding: 2px 5px 2px 27px;
        height: 33px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        &:focus {
          border-color: transparent;
          border: 1.4px solid $pink-oink;
        }
      }
      .typeahead-menu {
        width: 100%;
        .typeahead-dataset {
          .typeahead-selectable {
            padding: 0 5px 0 27px;
          }
        }
      } 
    }
  }
  .public-rooms-container {}
  .private-rooms-container {}
  .direct-messages-container {}
  .create-room-container {}
}



.public-rooms-container {
  .rooms-header {
    #create-chatroom {
      margin-left: 7px;
      cursor: pointer;
      .create-chatroom-info-container {
        width: 0;
        height: 0;
        position: relative;
        display: inline-block;
        .create-chatroom-info {
          display: none;
        }
      }
      &:hover {
        color: $pink-oink;
        .create-chatroom-info-container {
          .create-chatroom-info {
            position: absolute;
            display: block;
            background-color: $marine;
            color: white;
            width: 60px;
            height: 25px;
            line-height: 23.5px;
            font-size: 11px;
            font-family: "Helvetica Neue", Helvetica, Arial, serif;
            font-weight: bold;
            border-radius: 100px;
            margin: -46px 0px 0px -54px;
            span {
              border-top: 10px solid $marine;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              position: absolute;
              margin: 20px 0px 0px -10px;
            }
          }
        }
      }
    }
  }
  #public-rooms {
    .no-rooms {
      padding: 0 20px;
    }
  }
}

 .room {
    text-align: left;
    cursor: pointer;
    .room-name-container {
        &:hover {
          background-color: $marine;
          .room-name {
            color: $pink-oink;
          }
          .remove-chatroom {
            display: inline-block;
            color: $pink-oink;
          }
          .destroy-this-particular-chatroom {
            display: inline-block;
            color: $pink-oink;
          }
          .room-image-container {
            display: none;
          }
        }
      .room-name {
        margin: 0px;
        font-weight: bold;
        color: #ccc;
        padding: 3px 5px 3px 10px;
        &.active {
          color: $pink-oink;
        }
      }
      .remove-chatroom {
        border: none;
        background-color: transparent;
        color: #eee;
        display: none;
      }
      .destroy-this-particular-chatroom {
        border: none;
        background-color: transparent;
        color: #eee;
        display: none;
      }
      .room-image-container {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        .room-image {
          margin-top: -3px;
          max-width: 20px;
          max-height: 20px;
          border-radius: 80px;
          border: none;
          background-color: transparent;
        }
      }
    }
  }


.private-rooms-container {
  .rooms-header {
    margin-top: 20px;
  }
}


.direct-messages-container {
  .rooms-header {
    margin-top: 20px;
  }
}
// .create-room-container {
  
//   #create-chatroom {
//     margin-left: 10px;
//     cursor: pointer;
//     &.btn-primary {
//     border-color: #749CA8;
//     background-color: #749CA8;
//     // background-image: none;
//     // background-image: linear-gradient(to bottom, white 0,#749CA8 100%);
//     border-radius: 0px;
//     border-top: none;
//     &:hover, :active, :focus {
//       background-image: linear-gradient(to bottom, white 0,#749CA8 100%);
//       background-color: #749CA8;
//     }
//   }
//   }
// }

// #createChatroomModal {
//   @extend input.input-invalid;
//   @extend input.input-valid;

// }


@media (max-width: 1000px) {
  .slideout {
    position: fixed;
    left: 0;
    z-index: 101;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    .slideout-inner {
      position: fixed;
      left: -174px;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }
  }

  .slideout:hover {
    left: 0px;
  }
  .slideout:hover .slideout-inner {
    left: 0px;
  }     
}
















// label.badge.unread-messages {
//   margin-top: 5px;
//   background: #B976DA;
// }

// .row.direct-message {
//   cursor: pointer;
// }

// .row.direct-message:hover {
//   background: #ccc;
// }

// .row.direct-message {
//   background: $white;
//   border-bottom: 1px solid #e8e8e8;
//   border-right: 1px solid #e8e8e8;
//   line-height: 1.2em;
// }

// .direct-message-username {
//   line-height: 2em;
//   float: right;
// }