


#chatroom-header-container {
  #preferences-image-upload {
    display: inline-block;
  }
  .user-invited-response {
    display: inline-block;
    margin-left: 10px;
    &.success {
      color: $validation-green;
    }
    &.failure {
      color: $validation-red;
    }
  }
  .twitter-typeahead {
    input {
      height: 24px;
    }
    .typeahead-menu {
      margin-left: 18px;
      margin-top: 5px;
      .typeahead-dataset {
        .typeahead-selectable {
          padding: 2px 5px;
          &:hover {}
        }
      }
    } 
  }
}