
.chat-directory {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 600px;
  background: $white;
  border-right: 2px solid $border;
  border-bottom: 2px solid $border;
  input.form-control.chat-search-input:focus {
    border-color: $white;
    border: 1px solid $border;
  }
  .public-rooms-container {
    text-align: center;
  }
  .private-rooms-container {}
  .direct-messages-container {}
}

.chat-search-input {}


.public-rooms-container {
  .room {
    text-align: left;
    .room-name {
      cursor: pointer;
      font-weight: bold;
      color: #ccc;

    }
    .remove-chatroom {
      border: none;
      background-color: transparent;
      color: #ccc;
      cursor: crosshair;
    }
  }
}

// label.badge.unread-messages {
//   margin-top: 5px;
//   background: #B976DA;
// }

// .row.direct-message {
//   cursor: pointer;
// }

// .row.direct-message:hover {
//   background: #ccc;
// }

// .row.direct-message {
//   background: $white;
//   border-bottom: 1px solid #e8e8e8;
//   border-right: 1px solid #e8e8e8;
//   line-height: 1.2em;
// }

// .direct-message-username {
//   line-height: 2em;
//   float: right;
// }