
.login {
  margin-top: 75px;
  width: 290px;
  background-color: #eee;
  padding-bottom: 30px;
  border: 1px solid $marine;
  border-radius: 40px;
  .form-login {
    .login-error-container {
      height: 20px;
      color: $pink-oink;
      text-shadow: .5px .5px 0px black;
      margin-bottom: 10px;
      text-align: center;
    }
    input, button {
      margin-bottom: 15px;
    }
  }
  h2 {
    margin-bottom: 5px;
  }
}


