
.nav-header {
  background: $nav-bkgd;
  color: #fff;
  padding-top: 0;
}

.navbar {
  background: transparent;
  margin:0;
  border:none;
  box-shadow:none;
  padding: 10px 20px 40px 20px;
  .navbar-brand {
    background: transparent;
  }
  .nav-logo {
    height: 60px;
  }
  .navbar-right {
    margin-top: 25px;
  }
}