


#nav-container {
  color: $white;
  .navbar.navbar-default {
    border-bottom-left-radius:0;
    background: $marine;
    margin:0;
    border:none;
    height: 85px;
    z-index: 103;
    .navbar-header {
      height: 75px;
      padding: 10px;
      .chjat-title {
        font-family: "News Cycle", Helvetica, Arial, serif;
        font-size: 40px;
        padding-left: 15px;
      }
      .login-menu {}
    }
  }
}

.login-menu {
  padding: 0;
  .nav.navbar-right {
    text-align: right;
    background-color: $nav-bkgd;
  }
  .power-off-style {
    background-color: $nav-bkgd;
    color: black;
    -o-transition:color 1s ease-out, transform .7s ease-out, text-shadow 1.34s ease-out;
    -ms-transition: color 1s ease-out, transform .7s ease-out, text-shadow 1.34s ease-out;
    -moz-transition:color 1s ease-out, transform .7s ease-out, text-shadow 1.34s ease-out;
    -webkit-transition:color 1s ease-out, transform .7s ease-out, text-shadow 1.34s ease-out;
    transition:color 1s ease-out, transform .7s ease-out, text-shadow 1.34s ease-out;
    &:hover {
      color: $power-button;
      background-color:$nav-bkgd;
      transform: scale(1.3);
      text-shadow: 0px 0px 90px $power-button;
    }
  }
}




// navbar template
.nav {
  &.navbar-right {
    padding: 25px;
    li {
      display: inline-block;
      padding: 0 20px;
      .pink-fuzz {
        position: absolute;
        display: none;
        width: 8px;
        margin-top: -18px;
      }
    }
  }
  .modal-btn {
    cursor: pointer;
  }
}

#user-preferences-modal {
  .twitter-typeahead {
    input {
      height: 24px;
    }
    .typeahead-menu {
      background-color: white;
      margin-left: 18px;
      margin-top: 5px;
      width: 172px;
      .typeahead-dataset {
        .typeahead-selectable {
          padding: 2px 5px;
          &:hover {
          }
        }
      }
    } 
  }
}

#inbox-modal {
  .invitations-header {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }
  #invitations {
    list-style-type: none;
    margin: 20px 0;
    .invitation div {
      display: inline-block;
      margin-right: 20px;
      span {
        font-size: 20px;
        font-weight: 900;
        color: $marine;
      }
      &.fa {
       font-size: 20px;
       cursor: pointer;
      }
    }
    .invitation-sender {}
    .invitation-room-name {}
    .delete-invitation {
      &:hover {
        color: $validation-red;
      }
    }
    .accept-invitation  {
      &:hover {
        color: $validation-green;
      }
    }
  }
}



// fixes user-preferences and inbox modal visibility
@media #{$breakpoint-small} {
  .navbar-default .navbar-right {
    height: auto;
    overflow: visible;
    z-index: 0;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    overflow: visible;
  }
}
