
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);


// navbar



// fuckin colors
$pink-oink: #DEB0B0;
$marine: #749CA8;
$gray-gor: #E5EAEB;
$white: white;


$main-bkgd: $gray-gor;
$nav-bkgd: $marine;
$border: #ddd;
$dark-gray-text: #A8A8A8;
$light-gray-text: #aaa;
$power-button: $pink-oink;

$chatbox-message-name: black;
$online-user: $pink-oink;

$validation-red: #F05432;
$validation-green: #4EA34E;

// moonrise pallete
 // $blue: #8CBEA3;
 // $light-blue: #DDE8E0;
 // $light-pink: #DEB0B0;
 // $lightish-pink: #E69EA1;
 // $another-pink: #E7A396;
 // $red: #CB654F;
 // $sand: #CB654F;
 // $pink: #D3B1A7;
 // $bag: #DFBA47;

 // media queries

$breakpoint-985: "(min-width: 985px)";
$breakpoint-chatbox2: "(min-width: 1049px)";
$breakpoint-1150: "(min-width: 1150px)";
$breakpoint-540: "(min-width: 540px)";
$breakpoint-chatbox4: "(min-width: 1250px)";
$breakpoint-chatbox5: "(min-width: 1350px)";
$breakpoint-chatbox6: "(min-width: 1450px)";


// solves weird bootstrap bug that shifts content 15px on model-open
body.modal-open {
    left: -18px !important;
}

html, body {
  background: $main-bkgd;
  min-width: 320px;
}

#page-content {
  padding-top: 0px;
  background: $main-bkgd;
}



.nav > li > a {
  background-color: transparent;
  border: none;
  padding: 0;
  &:hover {
    background-color: transparent;
  }
  &:focus {
    background-color: transparent;
  }
}

a {
  background-color: transparent;
  &:hover {
    color: $power-button;
    text-shadow: .5px .5px 0px black;
  }
}

.btn {
  &:hover {
    border-color: $power-button !important;
  }
}




// button mods
.btn-primary-mod {
  border-color: $marine;
  background-color: $marine;
  background-image: none;
  border-radius: 4px;
  &:hover, :active, :focus {
    background-image: linear-gradient(to bottom, white 0,$marine 100%);
    background-color: $marine;
  }
}
.btn-default-mod {
  border-color: #ddd;
  background-color: #ddd;
  background-image: none;
  border-radius: 4px;
  &:hover, :active, :focus {
    background-image: linear-gradient(to bottom, white 0,#ddd 100%);
    background-color: #ddd;
  }
}



// pink outline
textarea:focus, input:focus, .btn:focus {   
    border-color: $pink-oink !important;
    box-shadow: 0 1px 1px $pink-oink inset, 0 0 8px $pink-oink !important;
    outline: 0 none !important;
}




// validations
input.input-valid {
    border-color: $validation-green !important;
    box-shadow: 0 1px 1px $validation-green inset, 0 0 8px $validation-green !important;
    outline: 0 none !important;
}
input.input-invalid {
    border-color: $validation-red !important;
    box-shadow: 0 1px 1px $validation-red inset, 0 0 8px $validation-red !important;
    outline: 0 none !important;
}