.slideout-right {
    position: absolute;
    z-index: 101;
    height: 100%;
    .slideout-right-inner {
      position: fixed;
      right: 0;
      bottom: 0;
      height: 100%;
      padding-top: 85px;
    }
}

.user-directory {
  background: $white;
  overflow-y: auto;
  overflow-x: auto;
  width: 205px;
  border-left: 2px solid $border;
  border-bottom: 2px solid $border;
  .user-image, .user-username {
    display: inline-block;
    text-align: left;
    padding: 0 0 0 10px;
  }
  .offline-users {}
  .online-users {}
  .idle-users {}
  .user-directory-username {
    float: left;
  }
  .users-header {
    text-align: center;
    color: $marine;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
  }
}






.online-users {
  .user-online {
    color: $online-user;
    &:hover {
      cursor: pointer;
      background-color: $marine;
    }
  }
}

.offline-users {
  .user-offline {
    color: #ccc;
    &:hover {
      cursor: pointer;
      background-color: $marine;
    }
  }
}

@media (max-width: 1000px) {
  .slideout-right {
    position: fixed;
    right: 0px;
    z-index: 101;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    .slideout-right-inner {
      position: fixed;
      right: -177px;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }
  }

  .slideout-right:hover {
    right: 0px;
  }
  .slideout-right:hover .slideout-right-inner {
    right: 0px;
  }     
}


// @media (max-width: 1050px) {
//   .user-directory {
//     display: none;
//   }
// }


