@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);



/*nav*/

.navbar {
  border-bottom: 2px solid #ddd;
}

.nav-header {
	background: #329932;
	color: #fff;
	padding-top: 0;
}

.navbar-brand {
	background: transparent;
}

.navbar-default {

}

.nav-logo {
	height: 60px;
}

.navbar-left > a {
  font-family: 'Nunito', sans-serif;
  color: #8B939A !important;
}

.navbar-right {
	margin-top: 25px;
}

.navbar-default {
    box-shadow:none;
    background:transparent;
    padding: 10px 20px 40px 20px;
}

.navbar {
    background: transparent;
    margin:0;
    border:none;
}

/* parent view */

#page-content {
	padding-top: 0px;
	background: #EBEFF0;
}

/*chat-box*/

.chat-box-header {

}

.chat-box-content {

}

.chat-box-input {

}

.chat-box-message {

}


/*chat-directory*/

.chat-search {

}

.public-room-container {

}

.private-room-container {

}

.direct-message-container {

}

.chat-directory-item {

}


/*user-directory*/

.offline-users {

}

.online-users {

}

.idle-users {

}

.user-directory-itemEEE {

}

.row.user-online {
	color: #329932;
}
