@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);



/*nav*/

.navbar {
  border-bottom: 2px solid #ddd;
}

.nav-header {
	background: #329932;
	color: #fff;
	padding-top: 0;
}

.navbar-brand {
	background: transparent;
}

.navbar-default {

}

.nav-logo {
	height: 60px;
}

.navbar-left > a {
  font-family: 'Nunito', sans-serif;
  color: #8B939A !important;
}

.navbar-right {
	margin-top: 25px;
}

.navbar-default {
    box-shadow:none;
    background:transparent;
    padding: 10px 20px 40px 20px;
}

.navbar {
    background: transparent;
    margin:0;
    border:none;
}

/* parent view */

#page-content {
	padding-top: 0px;
	background: #EBEFF0;
}

/*chat-box*/

.chat-box-header {

}

.chat-box-content {

}

.chat-box-input {

}

.chat-box-message {

}


/*chat-directory*/

.chat-directory {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: 87vh;
	background: #fff;
	border-right: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
}

.chat-search {

}

.chat-search-input {
  
}

input.form-control.chat-search-input:focus {
	border-color: #fff;
	border: 1px solid #ccc;
}

.public-rooms-container {

}

.private-rooms-container {

}

.direct-messages-container {

}

.chat-directory-items {

}

.chat-directory-item {
  
}

label.badge.unread-messages {
	margin-top: 5px;
	background: #B976DA;
}

.row.direct-message {
	cursor: pointer;
}

.row.direct-message:hover {
	background: #ccc;
}

.row.direct-message {
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	line-height: 1.2em;
}



/*user-directory*/

.user-directory {
  background: #fff;
  height: 88vh;
  overflow-y: auto;
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.user-directory-username {
  float: left;
}

.offline-users {

}

.row.user-offline {

}


.online-users {

}

.row.user-online {
	color: #329932;
}


.idle-users {

}


.user-directory-itemEEE {

}

