

.header {
	background: #329932;
	color: #fff;
}

.message-header {
	background: #fff;
}

.navbar-brand {
	padding-top: 20px;
	background: transparent;
}

#multimenu .navbar-default {
	padding-top: 0;
}

.navbar-right {
	margin-top: 25px;
}

.user-directory-item {
	float: left;
}

.user-online {
	color: #329932;
}

.unread-counter {
	line-height: 2em;
	padding-right: 0;
}

.preview-username {
	line-height: 2em;
	float: right;
}

.navbar {
  border-bottom: 2px solid #ddd;
}

.users-list {
  background: #fff;
  height: 88vh;
  overflow-y: auto;
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

#head-font > li > a {
  font-family: 'Nunito', sans-serif;
  color: #8B939A !important;
}

#page-content {
	padding-top: 0px;
	background: #EBEFF0;
}

#sidebar {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: 87vh;
	background: #fff;
	border-right: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
}

input.form-control.sidebar-input:focus {
	border-color: #fff;
	border: 1px solid #ccc;
}

.sidebar-item {
	cursor: pointer;
}

.sidebar-row {
	background: #fff;
	padding: 15px 15px 15px 15px;
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	line-height: 1.2em;
}

.sidebar-item:hover {
	background: #ccc;
}

.sidebar-item {
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	line-height: 1.2em;
}


#sidebar-items label.badge {
	background: #B976DA;
}


.nav-logo {
	height: 60px;
}

.message-chat {
	background: #fff;
	position: relative;
  width: 86%;
  margin-left: 7%;
}

p.message-timestamp {
	margin-top: 5px
}

.message-content {
  width: 87.33333%;
  padding-left: 0;
}

.message-time {
  width: 12.666667%;
  padding-right: 0;
}

.message-time p {
	font-size: 10px;
  color: #aaa;
  margin-bottom: 0;
}

.sender-message {
	font-size: 15px;
	color: #B976DA;
}

p.sender-message {
	float: left;
	font-weight: 600;
	margin-bottom: 0;
}

p.sender-message span {
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 10px;
	color: #0c0c0c;
	font-weight: lighter;
}

.chat-message {
	float: left;
}

.message-chats {
	width: 86%;
  margin-left: 7%;
  background: #fff;
  height: 370px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 2px solid #E5EAEB;
}

.message-container {
  width:100%;
}

.message-textbox {
  position: relative;
  bottom: 0;
  background: #fff;
  padding-bottom: 25px;
  border-bottom: 2px solid #ddd;
}

.input-group[class*="col-"] {
  float: none;
  padding-right: 15px;
  padding-left: 15px;
}

.sender-img {
  height: 38px;
  float: right;
  padding-left: 15px;
}

.recipient-img {
  height: 38px;
  float: left;
  padding-right: 15px;
}

input#message-input {
	border: 2px solid #ccc;
	background-image: none;
	background: #fff;
	height: 40px;
	width: 100%;
	outline: none;
}

#post-content {
	background: #E5EAEB;
	padding-top: 1%;
	padding-bottom: 3.33333333%;
	margin-bottom: 0px;
}

.page-header {
  color: #a8a8a8;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 0;
  border-bottom: none;
}

.chat-header {
	color: #a8a8a8;
	font-family: 'Open-Sans', sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
}

.message-user-av {
	float: left;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50%;
}

@media (max-width: 1050px) {
  
  .users-list {
    display: none;
  }
}
