  <div class="wrapper message-view">

    <div class="nav-header menu-wrapper">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="img-responsive nav-logo" src="assets/img/burger-w.png"></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <!-- <li><a href="#">Hamburger</a></li>     -->                 
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><i class="fa fa-power-off fa-2x"></i></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div><!-- end menu-wrapper -->


    <section id="page-content" class="clearfix">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2 pull-left chat-directory">
            <form>
              <input type="text" placeholder="Search" class="form-control chat-search-input" autocomplete="off">
            </form>
            <div class="public-rooms-container"></div>
            <div class="direct-messages-container"><!-- direct messages --></div>
            <div class="private-rooms-container"></div>
          </div> <!--chat-directory -->

          <div class="col-md-2 text-center pull-right user-directory">
            <p>Users</p>
            <div class="online-users"></div>
            <p>Offline</p>
            <div class="row user-offline">
              <div class="col-xs-3 col-sm-3 col-md-1 text-center">
                <span><i class="fa fa-circle"></i></span>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-10">
                <p><strong class="user-directory-username">@TomSelleck</strong></p>
              </div>
            </div>
          </div> <!--user-directory -->


          <div class="col-md-8 col-sm-8 col-xs-8 chatbox">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 chatbox-header">
                <img class="img-responsive chatbox-header-avatar" src="assets/img/tom-jones.jpg">
                <h3 class="chatbox-header-username">@TomJones</h3>
              </div>

              <div class="row col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 chatbox-content"></div>

              <div class="row col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 typetypetype"> 
                type type type 
              </div>

              <div class="row col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 chatbox-input-container">
                    <a href="#"><i class="fa fa-image"></i></a >
                  <form>
                    <textarea class="message-input" placeholder="" rows="1"></textarea>
                  </form>
              </div>
            </div>
          </div> <!-- chatbox -->

        </div> <!-- page row -->
      </div> <!-- container-fluid -->
    </section>
  </div> <!-- message-view -->